# Visualizando CSV com Pandas

In [1]:
# Carregar p arquivo
import pandas as pd
tb = pd.read_csv("~/git/Jupyter/csv/test.csv")
# Visualizar a estrutura
tb.info()
print("\n\n")
# Mostrar alguns dados
display(tb)

# Agrupar totais por banco
# Agrupar totais por categoria

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Data           10 non-null     object
 1   Descrição      10 non-null     object
 2   Valor          10 non-null     int64
 3   Banco          10 non-null     object
 4   Categoria      10 non-null     object
 5   Dia da semana  10 non-null     object
dtypes: int64(1), object(5)
memory usage: 608.0+ bytes

,Data,Descrição,Valor,Banco,Categoria,Dia da semana
0,01/10/2020,Magic Dolar,29,Neon,Casa,quinta-feira
1,01/10/2020,Distribuidora Primavera,92,Neon,Lazer,quinta-feira
2,01/10/2020,Casa da esfiha,19,Neon,Lanche,quinta-feira
3,05/10/2020,Grife das capas,20,Neon,Reparos,segunda-feira
4,05/10/2020,Speed up,326,Neon,Aprendizado,segunda-feira
5,05/10/2020,Sanepar,139,BB,Casa,segunda-feira
6,07/10/2020,Auto Escola Liderança,1520,BB,Habilitação,quarta-feira
7,09/10/2020,Pagamento do aluguel,1300,BB,Casa,sexta-feira
8,09/10/2020,Musitech: cordas para guitarra,45,BB,Instrumentos,sexta-feira
9,09/10/2020,Empório Pet,84,BB,Pets,sexta-feira

In [2]:
# Quantas compras por banco
display(tb['Banco'].value_counts())

BB      5
Neon    5
Name: Banco, dtype: int64

In [3]:
# Quantas compras por dia da semana?
display(tb['Dia da semana'].value_counts())

sexta-feira      3
segunda-feira    3
quinta-feira     3
quarta-feira     1
Name: Dia da semana, dtype: int64

In [4]:
# Quantas compras por categoria?
display(tb['Categoria'].value_counts())

Casa            3
Instrumentos    1
Reparos         1
Pets            1
Lazer           1
Lanche          1
Habilitação     1
Aprendizado     1
Name: Categoria, dtype: int64

In [5]:
# obtendo somatória
# substituir separadores de milhar e decimal
tb['Valor'] = tb['Valor'].astype(str).replace('.')
#tb['Valor'] = tb['Valor'].replace(',','.')
tb.dtypes
tb['Valor'].astype(str).replace(['.'],['-'])
# tb['Valor'] = tb['Valor'].astype(float)
# tb['Valor'] = pd.to_numeric(tb['Valor'])
# tb.head()
#  Converte para numero
# tb['Valor'] = pd.to_numeric(tb['Valor'])
# realiza a somatória fazendo o agrupamento
# tb.groupby('Categoria')['Valor'].sum()

0      29
1      92
2      19
3      20
4     326
5     139
6    1520
7    1300
8      45
9      84
Name: Valor, dtype: object