In [1]:
import pandas as pd
import numpy as np

In [2]:
ser1 = pd.Series(np.random.rand(3), index=['a','b','c'])
print(ser1)

a    0.379119
b    0.199498
c    0.818800
dtype: float64

In [3]:
ser1.index

Index(['a', 'b', 'c'], dtype='object')

In [4]:
preco_acoes = {'GOOG' : 737.44, \
               'FB' : 120.38, \
               'TWTR' : 18.44, \
               'AMZN' : 744.58, \
               'AAPL' : 99.40, \
               'NFLX' : 85.55}

In [6]:
ser3 = pd.Series(preco_acoes)
print(ser3)

AAPL     99.40
AMZN    744.58
FB      120.38
GOOG    737.44
NFLX     85.55
TWTR     18.44
dtype: float64

In [7]:
ser3[ser3 > 100]

AMZN    744.58
FB      120.38
GOOG    737.44
dtype: float64

In [8]:
resumoAcoes = {
    'GOOG' : pd.Series([740, 750], index=['Abertura', 'Fechamento']),
    'FB' : pd.Series([110, 120], index=['Abertura', 'Fechamento']),
    'TWTR' : pd.Series([20, 30], index=['Abertura', 'Fechamento']),
    'AMZN' : pd.Series([740, 750], index=['Abertura', 'Fechamento']),
    'AAPL' : [100, 90],
    'NFLX' : [70, 80]
}

In [9]:
acoesDF = pd.DataFrame(resumoAcoes)

In [11]:
acoesDF.describe()

             AAPL        AMZN          FB        GOOG       NFLX       TWTR
count    2.000000    2.000000    2.000000    2.000000   2.000000   2.000000
mean    95.000000  745.000000  115.000000  745.000000  75.000000  25.000000
std      7.071068    7.071068    7.071068    7.071068   7.071068   7.071068
min     90.000000  740.000000  110.000000  740.000000  70.000000  20.000000
25%     92.500000  742.500000  112.500000  742.500000  72.500000  22.500000
50%     95.000000  745.000000  115.000000  745.000000  75.000000  25.000000
75%     97.500000  747.500000  117.500000  747.500000  77.500000  27.500000
max    100.000000  750.000000  120.000000  750.000000  80.000000  30.000000