## Criar gráficos dos 10 usuários mais populares

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tweets_10min.csv', sep=';')

In [3]:
df.head(1)

,text,created_at,coordinates,retweet_count,favorite_count,screen_name,location,lang,followers_count,geo_enabled,statuses_count,lat,long,hashtags
0,These little python powered babies are making ...,Mon Aug 08 19:00:36 +0000 2016,NaN,0.0,0.0,GelarehMizrahi,New York,en,739.0,False,1052.0,40.730599,-73.986581,NaN

In [4]:
mais10 = df.followers_count.sort_values(ascending=False)[:10]

In [5]:
mais10

153    89286.0
130    57288.0
118    57052.0
21     19428.0
30     17928.0
72     17742.0
106    17203.0
17     15273.0
10     11746.0
128    10953.0
Name: followers_count, dtype: float64

In [6]:
aux = []
for item, i in zip(mais10.index, mais10):
    aux.append([df.screen_name[item], i])

In [7]:
aux

[['KirkDBorne', 89286.0],
 ['twilio', 57288.0],
 ['TrafficEagle', 57052.0],
 ['seovalencia', 19428.0],
 ['ComEd', 17928.0],
 ['jonnylongden', 17742.0],
 ['BigdataProfiles', 17203.0],
 ['KruxDigital', 15273.0],
 ['GilPress', 11746.0],
 ['ryanrod42', 10953.0]]

In [8]:
df_final = pd.DataFrame(aux, columns=['nome', 'qtde'])

In [9]:
df_final

              nome     qtde
0       KirkDBorne  89286.0
1           twilio  57288.0
2     TrafficEagle  57052.0
3      seovalencia  19428.0
4            ComEd  17928.0
5     jonnylongden  17742.0
6  BigdataProfiles  17203.0
7      KruxDigital  15273.0
8         GilPress  11746.0
9        ryanrod42  10953.0

In [13]:
from bokeh.io import output_notebook, show, output_file

In [15]:
from bokeh.charts import Bar

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/bokeh/util/deprecation.py:34: BokehDeprecationWarning:
The bokeh.charts API has moved to a separate 'bkcharts' package.

This compatibility shim will remain until Bokeh 1.0 is released.
After that, if you want to use this API you will have to install
the bkcharts package explicitly.

  warn(message)

In [16]:
output_file("teste.html")

In [17]:
p = Bar(df_final, 'nome', values='qtde',
        xlabel='Usuários',
        ylabel='Quantidade de Seguidores',
        bar_width=0.4,
        color='green'
        
)

In [18]:
p.legend.location = None

In [19]:
show(p)

http://bokeh.pydata.org/en/latest/docs/user_guide/charts.html